@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}

body {
  /* background-color: #5d6d7e; */
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  margin: auto;
  color: #57b846;
  text-align: center;
  font-size: 2rem;
  max-width: 600px;
  position: relative;
  top: 5rem;
}

h2:before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #57b846;
  left: 85%;
  top: 50%;
  position: absolute;
}

h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #57b846;
  right: 85%;
  top: 50%;
  position: absolute;
}

table {
  position: relative;
  margin: 0;
  top: 7rem;
  border-collapse: collapse;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.viewemp-table {
  margin-bottom: 5rem;
}

th {
  font-family: "Montserrat", sans-serif;
}

th,
td {
  padding: 9px 9px;
}

tr {
  text-align: center;
}

td img {
  align-self: center;
  border-radius: 50%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  font-weight: bold;
  color: #009879;
}

.minus {
  color: red;
}

th {
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.empHistory {
  position: absolute;
  bottom: 2rem;
  right: 8rem;
  background: #57b846;
  width: 8rem;
  height: 3rem;
  text-align: center;
  border-radius: 6px;
  font-family: "Ubuntu", sans-serif;
}

.arrow {
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  h2 {
    font-size: 1.8rem;
  }
  h2:before,
  h2:after {
    width: 60px;
  }
}
@media (max-width: 400px) {
  h2 {
    font-size: 1.3rem;
  }
  h2:before,
  h2:after {
    width: 40px;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  .viewemp-table,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  tr th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #57b846;
  }
  /* Section five*/
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  /* Section six*/

  .viewemp-table td:nth-of-type(1):before {
    content: "Emp. ID";
  }
  .viewemp-table td:nth-of-type(2):before {
    content: "Picture";
  }
  .viewemp-table td:nth-of-type(3):before {
    content: "Name";
  }
  .viewemp-table td:nth-of-type(4):before {
    content: "Email";
  }
  .viewemp-table td:nth-of-type(5):before {
    content: "Birthday";
  }
  .viewemp-table td:nth-of-type(6):before {
    content: "Gender";
  }
  .viewemp-table td:nth-of-type(7):before {
    content: "Contact";
  }
  .viewemp-table td:nth-of-type(8):before {
    content: "NID";
  }
  .viewemp-table td:nth-of-type(9):before {
    content: "Jdate";
  }
  .viewemp-table td:nth-of-type(10):before {
    content: "Address";
  }
  .viewemp-table td:nth-of-type(11):before {
    content: "Department";
  }
  .viewemp-table td:nth-of-type(12):before {
    content: "Degree";
  }
  .viewemp-table td:nth-of-type(13):before {
    content: "Point";
  }
  .viewemp-table td:nth-of-type(14):before {
    content: "Options";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  .project-table,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  .project-table td:nth-of-type(1):before {
    content: "Project ID";
  }
  .project-table td:nth-of-type(2):before {
    content: "Emp. ID";
  }
  .project-table td:nth-of-type(3):before {
    content: "Project Name";
  }
  .project-table td:nth-of-type(4):before {
    content: "Due Date";
  }
  .project-table td:nth-of-type(5):before {
    content: "Submission Date";
  }
  .project-table td:nth-of-type(6):before {
    content: "Mark";
  }
  .project-table td:nth-of-type(7):before {
    content: "Status";
  }
  .project-table td:nth-of-type(8):before {
    content: "Option";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 900px) {
  /* Section three*/
  .salary-table,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  .salary-table td:nth-of-type(1):before {
    content: "Emp. ID";
  }
  .salary-table td:nth-of-type(2):before {
    content: "Name";
  }
  .salary-table td:nth-of-type(3):before {
    content: "Base Salary";
  }
  .salary-table td:nth-of-type(4):before {
    content: "DA";
  }
  .salary-table td:nth-of-type(5):before {
    content: "HRA";
  }
  .salary-table td:nth-of-type(6):before {
    content: "Medical";
  }
  .salary-table td:nth-of-type(7):before {
    content: "Vehicle";
  }
  .salary-table td:nth-of-type(8):before {
    content: "Total Salary";
  }
  .salary-table td:nth-of-type(9):before {
    content: "Professional Tax";
  }
  .salary-table td:nth-of-type(10):before {
    content: "Group Insurance";
  }
  .salary-table td:nth-of-type(11):before {
    content: "Income Tax";
  }
  .salary-table td:nth-of-type(12):before {
    content: "Provident Fund";
  }
  .salary-table td:nth-of-type(13):before {
    content: "Cut Salary";
  }
  .salary-table td:nth-of-type(14):before {
    content: "Net Salary";
  }
  .salary-table td:nth-of-type(15):before {
    content: "History";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  .leave-table,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  .leave-table td:nth-of-type(1):before {
    content: "Emp. ID";
  }
  .leave-table td:nth-of-type(2):before {
    content: "Token";
  }
  .leave-table td:nth-of-type(3):before {
    content: "Name";
  }
  .leave-table td:nth-of-type(4):before {
    content: "Start Date";
  }
  .leave-table td:nth-of-type(5):before {
    content: "End Date";
  }
  .leave-table td:nth-of-type(6):before {
    content: "Total Days";
  }
  .leave-table td:nth-of-type(7):before {
    content: "Reason";
  }
  .leave-table td:nth-of-type(8):before {
    content: "Leave";
  }
  .leave-table td:nth-of-type(9):before {
    content: "Status";
  }
  .leave-table td:nth-of-type(10):before {
    content: "Options";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  .empproject-table,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  .empproject-table td:nth-of-type(1):before {
    content: "Project ID";
  }
  .empproject-table td:nth-of-type(2):before {
    content: "Project Name";
  }
  .empproject-table td:nth-of-type(3):before {
    content: "Due Date";
  }
  .empproject-table td:nth-of-type(4):before {
    content: "Sub Date";
  }
  .empproject-table td:nth-of-type(5):before {
    content: "Mark";
  }
  .empproject-table td:nth-of-type(6):before {
    content: "Status";
  }
  .empproject-table td:nth-of-type(7):before {
    content: "Option";
  }
}

/* Section seven*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/* Section eight*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 100%;
  }
}
