@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}

body {
  /* background-color: #5d6d7e; */
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.aloginwel-divimg {
  position: relative;
  top: 3rem;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  margin: 30px auto;
  color: #57b846;
  text-align: center;
  font-size: 2rem;
  max-width: 600px;
  position: relative;
}

.alogin-h2 {
  position: relative;
  /* top: 3rem; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.elogin-h2 {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

h2:before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #57b846;
  left: 85%;
  top: 50%;
  position: absolute;
}

.elogin-h2:before {
  left: 68%;
}

h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #57b846;
  right: 85%;
  top: 50%;
  position: absolute;
}

.elogin-h2:after {
  right: 68%;
}

.eloginwel-container {
  position: relative;
  top: 5rem;
  height: max-content;
}

.elogin-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: max-content;
}

.eloginwel-form {
  position: relative;
  top: 1rem;
  font-size: 1.5rem;
}

.elogin-input {
  font-size: 1.5rem;
}

.img-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  position: relative;
  margin: auto;
  height: 260px;
  width: fit-content;
  border-radius: 50%;
}

.h-shape {
  transition: all 0.4s ease-in-out;
  width: 50%;
  height: 100%;
  background-color: #57b846;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

img {
  position: relative;
  left: 3rem;
  top: 0.3rem;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.elogin-section .details-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: fit-content;
  margin: 5rem;
}
.elogin-section .details-right .details-item {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.elogin-section .details-right .details-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1 px solid #57b846;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.elogin-section .details-right .details-item .abt-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.elogin-section .details-right .details-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: #57b846;
}
.elogin-section .details-right .details-item .abt-text .large-text {
  font-size: 2.5rem;
}
.elogin-section .details-right .details-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(106, 105, 105);
  letter-spacing: 2px;
}
.elogin-section .details-right .details-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: rgb(129, 129, 129);
}

table {
  margin: 25px 0;
  border-collapse: collapse;
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.alogin-table {
  position: relative;
  /* top: 1.5rem; */
}

th,
td {
  padding: 9px 30px;
}

tr {
  text-align: justify;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  font-weight: bold;
  color: #009879;
  /* background-color: #93c395; */
}

th {
  text-align: justify;
  background-color: #4caf50;
  color: white;
}

.p-t-20 {
  padding-top: 20px;
  margin-top: 30px;
}

.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  font-family: "Ubuntu", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 6px;
}

.btn--green {
  font-family: "Montserrat", sans-serif;
  background: #57b846;
  color: #fff;
  border: none;
}

.btn--green a {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  background: #57b846;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn--green:hover {
  background: transparent;
  color: #57b846;
  border: 1px solid #57b846;
}

.btn--green a:hover {
  background: transparent;
  color: #57b846;
  border: 1px solid #57b846;
}

@media (max-width: 1300px) {
  .elogin-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .img-left {
    display: flex;
    flex-direction: row;
    bottom: 1.5rem;
    margin: 0;
  }
  .h-shape {
    display: none;
  }
  .eloginwel-form {
    left: 3rem;
  }
}

@media (max-width: 950px) {
  img {
    left: 3rem;
    top: 3rem;
    width: 150px;
    height: 150px;
  }
  .eloginwel-form {
    width: 60%;
  }
  .eloginwel-form,
  .elogin-input {
    font-size: 1rem;
  }
  .elogin-section .details-right .details-item .abt-text .large-text,
  .elogin-section .details-right .details-item .abt-text .extra-large-text {
    font-size: 1.5rem;
  }
  .elogin-section .details-right .details-item .abt-text .small-text {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .img-left {
    flex-direction: column;
  }
  .eloginwel-form,
  .elogin-input {
    font-size: 1.2rem;
  }
  .eloginwel-form {
    width: 80%;
    margin-top: 2rem;
  }
  .elogin-section .details-right .details-item .abt-text .large-text,
  .elogin-section .details-right .details-item .abt-text .extra-large-text {
    font-size: 1rem;
  }
  .elogin-section .details-right .details-item .abt-text .small-text {
    font-size: 0.5rem;
  }
  .details-right {
    position: relative;
    top: 10rem;
  }
  .elogin-h2,
  .elogin-table {
    position: relative;
    top: 5rem;
  }
  .alogin-h2,
  .elogin-h2,
  .elogin-heading {
    font-size: 1.8rem;
  }
  h2:before,
  h2:after {
    width: 60px;
  }
  .elogin-h2:before {
    left: 75%;
  }
  .elogin-h2:after {
    right: 75%;
  }
}
@media (max-width: 400px) {
  .alogin-h2,
  .elogin-h2,
  .elogin-heading {
    font-size: 1.3rem;
  }
  h2:before,
  h2:after {
    width: 40px;
  }
  .elogin-h2:before {
    left: 85%;
  }
  .elogin-h2:after {
    right: 85%;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/

  tr th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #57b846;
  }
  /* Section five*/
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  .alogin-table {
    display: flex;
    flex-direction: column;
  }

  .alogin-table td:nth-of-type(1):before {
    content: "Seq.";
  }
  .alogin-table td:nth-of-type(2):before {
    content: "Emp. ID";
  }
  .alogin-table td:nth-of-type(3):before {
    content: "Name";
  }
  .alogin-table td:nth-of-type(4):before {
    content: "Points";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  #elogin-table2,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  #elogin-table2 td:nth-of-type(1):before {
    content: "Project Name";
  }
  #elogin-table2 td:nth-of-type(2):before {
    content: "Due Date";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  #elogin-table3,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  #elogin-table3 td:nth-of-type(1):before {
    content: "Base Salary";
  }
  #elogin-table3 td:nth-of-type(2):before {
    content: "DA";
  }
  #elogin-table3 td:nth-of-type(3):before {
    content: "HRA";
  }
  #elogin-table3 td:nth-of-type(4):before {
    content: "Medical";
  }
  #elogin-table3 td:nth-of-type(5):before {
    content: "Vehicle";
  }
  #elogin-table3 td:nth-of-type(6):before {
    content: "Total Salary";
  }
  #elogin-table3 td:nth-of-type(7):before {
    content: "Professional Tax";
  }
  #elogin-table3 td:nth-of-type(8):before {
    content: "Group Insurance";
  }
  #elogin-table3 td:nth-of-type(9):before {
    content: "Income Tax";
  }
  #elogin-table3 td:nth-of-type(10):before {
    content: "Provident Fund";
  }
  #elogin-table3 td:nth-of-type(11):before {
    content: "Cut Salary";
  }
  #elogin-table3 td:nth-of-type(12):before {
    content: "Net Salary";
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Section three*/
  #elogin-table4,
  th,
  td,
  tr {
    display: flex;
    flex-direction: column;
  }

  #elogin-table4 td:nth-of-type(1):before {
    content: "Start Date";
  }
  #elogin-table4 td:nth-of-type(2):before {
    content: "End Date";
  }
  #elogin-table4 td:nth-of-type(3):before {
    content: "Total Days";
  }
  #elogin-table4 td:nth-of-type(4):before {
    content: "Reason";
  }
  #elogin-table4 td:nth-of-type(5):before {
    content: "Leave";
  }
  #elogin-table4 td:nth-of-type(6):before {
    content: "Status";
  }
}

/* Section seven*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/* Section eight*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 100%;
  }
}
