# System Files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.sts4-cache
.factorypath
.recommenders/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Angular
node_modules/
dist/
.angular/
.npm/

# Environment Files
.env
.env.local
.env.*.local
env.properties.example

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

/.agent
