# Local Development Secrets
# Copy this file to .env or set these in your IDE run configuration
# DO NOT COMMIT REAL SECRETS TO GIT

DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=admin
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
CORS_ALLOWED_ORIGINS=http://localhost:4200
